.jumbotron-fluid {
  padding: 100px;
  background-image: url('https://images2.alphacoders.com/261/26102.jpg');
  opacity: 0.8;
  background-size: cover;
  color: rgb(247, 241, 230);
  margin-top: Opx;
  border-top: Opx;
}
h4 {
  font-size: 1.2rem;
  color: rgb(247, 241, 230);
}